.calendar {
  border: 1px solid #ccc;
  font-family: sans-serif;
  max-width: 360px;
  padding: 10px 10px 25px 10px;
  border-top: 5px solid black;

  &__header {
    margin: 10px 10px 20px 10px;
    &__month {
      display: flex;
      width: 100%;

      &__info {
        width: 100%;

        svg.calendar__icon {
          max-width: 25px;
          min-width: 25px;
          width: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          fill: #ccc;

          text {
            font-size: 12px;
            font-weight: bold;
          }
        }

        h2 {
          font-size: 21px;
          text-transform: uppercase;
          text-align: left;
          margin: 0;
          display: flex;
          justify-content: space-between;
          width: 100%;
          line-height: 1em;
        }

        .calendar__month {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          select,
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            color: black;
            background: white;

            option {
              color: black;
              background: white;
            }
          }

          &__actions {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 5px;

            button {
              background: none;
              border: none;
              padding: 0;
              height: 50%;
              width: 12px;
              position: relative;
            }

            svg {
              width: 6px;
              height: 6px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            & > button:nth-child(1) {
              svg {
                top: 60%;
              }
            }

            & > button:nth-child(2) {
              svg {
                top: 40%;
              }
            }
          }
        }

        .calendar__year {
          display: block;
          font-size: 17px;
          font-weight: normal;
          position: relative;

          select,
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            color: black;
            background: white;

            option {
              color: black;
              background: white;
            }
          }
        }
      }

      .calendar__header__month__actions {
        margin-left: 10px;
        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;

          svg {
            width: 12px;
          }

          &.restart svg {
            width: 17px;
          }
        }

        & > button:nth-child(2) {
          margin-left: 10px;
        }

        & > button:nth-child(3) {
          margin-left: 10px;
        }
      }
    }
  }

  &__tableheader,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__tableheader span {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    height: 30px;
  }

  &__days button {
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    position: relative;

    span.text {
      opacity: 0.25;
    }

    span.ind {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #ccc;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }

    span.day {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      border: 2px solid rgba($color: #000000, $alpha: 0);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: 0.1s ease-in-out;
    }

    &.current span.text {
      opacity: 1;
    }

    &.today span.day {
      background: rgba($color: #000000, $alpha: 0.0625);
    }

    &.selected span.day {
      background: black;

      .text {
        opacity: 1;
        color: #fff;
      }
    }
  }
}
